.page {
	align-content: start;
	display: grid;
	place-items: center;
  height: 100%;
  justify-items: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
	border: 1px solid lightgray;
	height: 350px;
	overflow: hidden;
	width: 350px;
}

.img {
	height: 100%;
	width: 100%;
}

.undraggable {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	user-drag: none;
	user-select: none;
}
